* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-size: 30px;
}
.container {
	
}
.row {
}
.header {
	left: 0;
	top: 0;
	min-height: 120px;
	background: rgb(0, 0, 0);
	align-items: center;
	margin-bottom: 50px;
}
.logo{
	padding: 20px 0px 20px 0px;
}

.hero img {
	max-width: 100%;
	height: 100%;
	padding: 25px 0px 0px 0px;
	object-fit:cover;
	object-position: 0 0;
}
.hero {
	min-height: 475px;
	background: #c4c4c4;
	margin-bottom: 75px;
}

.three{
	min-height: 220px;
	margin-bottom:30px;
}

.col-4 {
		
}

.block {
	padding:30px;
	text-align: center;
	height: 100%;
}
.l_gray {
	background: #e2e0e0;
}
.gray {
	background: #c4c4c4;
}
/* .col-4_indent {
	
}  */

.col-6 {
	min-height: 340px;
}
.height-340 {
	min-height: 340px;
	margin: 21px 0px 51px 0px;
}

p {
	padding:30px;
}
.indent{
	
}
.text {
		font-family: Montserrat;
	font-weight: 400;
	font-size: 12px;
	line-height: calc(15 / 12 * 100%);
	padding: 15px 27px 15px 27px;
	text-align: left;
	height: 100%;
}
.flooter {
	min-height: 350px;
	background: #000000;
}

.col-1 {
	min-height: 15px;
	
}
.text_white {
	font-family: Montserrat;
	font-weight: 400;
	font-size: 12px;
	line-height: calc(15 / 12 * 100%);
	color: #fff;
	padding: 47px 94px 0px 107px;
}
@media (max-width:1200){
	
}